<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/style.css">
  <title>Random Passcode Generator</title>
</head>
<body>
  <div id="main-container">
    <h2>Random passcode #__</h2>
    <form asp-action="" asp-controller="Home">
      <input type="submit" value="Generate">
    </form>
  </div>
</body>
</html>